<div class="content-panel">
    <div class="logo">
        <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
    </div>
    <div class="logo">
        <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
    </div>
    <div class="logo">
        <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
    </div>
    <div class="logo">
        <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
    </div>
    <div class="logo">
        <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
    </div>
    <div class="logo">
        <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
    </div>
    <div class="logo">
        <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
    </div>
    <div class="logo">
        <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
    </div>
</div>