<div class="nav-container" *ngIf="isLoggedIn$ | async as isLoggedIn; else loggedOut">

    <div class="row">
        <div class="col">
            <img class="logo-icon icon" src="../../../assets/images/quarto-q-white.png" (click)="homePage()">
        </div>
        <div class="col user-panel-container" (clickOutside)="showAccountMenu = false;">
            <div class="user-panel" (click)="accountMenuToggle()">
                <img class="user-icon" src="../../../assets/images/InitialsAvatar.png">
            </div>
            
            <div *ngIf="showAccountMenu" class="user-menu unselectable">
                <div class="arrow-up"></div>
                <div class="form-row">
                    <div class="col-6">
                        <img class="user-icon icon" src="../../../assets/images/InitialsAvatar.png">
                    </div>
                    <div class="form-group col-6">
                        <div class="row">
                            <a routerLink="/user/edit" (click)="showAccountMenu = false;"><span class="btn-link">My Account</span></a>
                        </div>
                        <div class="row">
                            <a routerLink="/"><span class="btn-link">Settings</span></a>
                        </div>
                        <div class="row">
                            <span class="btn-link" (click)="logout()">Logout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #loggedOut>
    
</ng-template>

<q-notification></q-notification>