@import '../../../variable';
@import '../../../styles.scss';

.nav-container{
    width: 100%;
    height: 50px;
    min-width: 400px;
    position: fixed;
    background-color: $theme-color;
    z-index: 9500;
    top: 0;
    line-height: inherit;
    box-shadow: 0px 3px 3px grey;
}

.logo-icon{
    width: 50px;
    height: auto;
    float: left;

    &:hover{
        cursor: pointer;
    }
}

.user-menu{
    @extend .center-position;
    position: absolute;
    margin-top: 50px;
    margin-right: 0;
    width: 300px;
    height: 200px;
    box-shadow: 0px 3px 3px grey;
    background-color: white;
}

.user-icon{
    width: 32px;
    height: auto;
    margin: 8px;
}

.user-panel{
    width: 50px;
    line-height: 50px;
    text-align: right;
    float: right;

    & > .btn-link{
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
    }

    & > .btn-user{
        text-transform: none !important;
    }

    &:hover{
        background-color: $deep-purple-ultra-dark;
        cursor: pointer;
    }
}

.account-menu-container {
    width: 500px;
    height: 500px;
    background-color: yellow;
}

