@import '../../../../variable';
@import '../../../../styles.scss';

.main{
    @extend .center-position;
    width: 80%;
    max-width: 1300px;
    min-width: 500px;
    
    border: solid 1px purple;
}

.row{
    border: solid 1px black;

    div{
        padding: 0;
        border: solid 1px red;
    }
}