@import '../../../_variable.scss';
@import "../../../styles.scss";

.login-container{
    @extend .center-position;
    position: relative;
    height: 100%;
    width: 400px;
    text-align: center;

    & > .logo{
        margin-top: 100px;
    }
}