@import '../../../variable';
@import '../../../styles.scss';

.notif-area {
    @extend .center-position;
    height: calc(100% - 20px);
    position: absolute;
    width: 300px;
    margin-top: 50px;
    margin-right: 0;
    padding-top: 20px;
    padding-right: 5px;
    overflow-y: auto;
}